<app-breadcrumbs title="Store-Stock" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
  <!-- 
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Filters</h4>
      </div>
      <div class="card-body">
        <div class="row g-3 align-items-center">

          <div class="col-md-5">
            <div class="search-box">
              <input type="text" class="form-control search" placeholder="Search product..."
                [(ngModel)]="filters.search" (input)="applyFilters()" />
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>


          <div class="col-md-5">
            <ng-select [items]="categories" [multiple]="true" [(ngModel)]="filters.SelectedCategories"
              (change)="applyFilters()" placeholder="Select categories" [clearable]="true">
            </ng-select>
          </div>


          <div class="col-md-2 ms-auto">
            <select class="form-select w-100" [(ngModel)]="filters.pageSize" (change)="applyFilters()"
              aria-label="Select page size">
              <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="col-lg-12">
    <div class="card">

      <!-- Heading only -->
      <div class="card-header bg-light text-muted">
        <h4 class="card-title mb-0">Stock List</h4>
      </div>

      <div class="card-body">

        <div class="row g-4 mb-3">
          <!-- Left side: Filter button -->
          <div class="col-sm">
            <div class="hstack gap-2">

              <button class="btn btn-sm btn-soft-secondary" (click)="navigateBack()">
                <i class="ri-arrow-left-line me-1"></i> Back
              </button>
              <button type="button" class="btn btn-sm btn-success add-btn" (click)="addStock()">
                <i class="ri-add-line align-bottom me-1"></i> Add
              </button>
            </div>
          </div>

          <!-- Right side: Back + Add -->
          <div class="col-sm-auto ms-auto">
            <div class="d-flex gap-1">
              <button type="button" class="btn btn-primary btn-sm add-btn" (click)="openFilter(filterContent)">
                <i class="ri-filter-3-line align-bottom me-1"></i> Filters
              </button>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="listjs-table">
          <div class="table-responsive table-card mt-3 mb-1">
            <table class="table align-middle">
              <thead class="table-light">
                <tr class="bg-light text-muted">
                  <th scope="col" style="width: 50px;"></th>
                  <th (click)="sortData('productName')" class="sort">Product </th>
                  <th (click)="sortData('categoryName')" class="sort">Category </th>
                  <th (click)="sortData('StorePrice')" class="sort">Price </th>
                  <th (click)="sortData('stock')" class="sort">Stock </th>
                  <th>Image</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of stockData?.Products">
                  <td></td>
                  <td>{{ product.ProductName }}</td>
                  <td>{{ product.CategoryName }}</td>
                  <td>₹{{ product.StorePrice }}</td>
                  <td>{{ product.Stock }}</td>
                  <td>
                    <img [src]="product.ImagePath ? backendImageUrl + product.ImagePath : fallbackImage"
                      class="rounded avatar-sm" />
                  </td>
                  <td class="text-center">
                    <div class="hstack gap-3 flex-wrap justify-content-center">
                      <a [routerLink]="['/edit-stock', product.StoreProductId]" [queryParams]="{ storeName: storeName }"
                        class="link-success fs-15">
                        <i class="ri-edit-2-line"></i>
                      </a>
                      <a href="javascript:void(0);" class="link-danger fs-15" (click)="deleteStock(product)">
                        <i class="ri-delete-bin-line"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination + info -->
          <div class="row justify-content-md-between align-items-md-center">
            <div class="col col-sm-6">
              <div class="dataTables_info mb-2" role="status">
                Showing {{ (filters.page - 1) * filters.pageSize + 1 }}
                to {{ Math.min(filters.page * filters.pageSize, stockData?.TotalCount || 0) }}
                of {{ stockData?.TotalCount }} entries
              </div>
            </div>
            <div class="col col-sm-6">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ul class="pagination pagination-sm mb-0">
                  <li class="page-item" [class.disabled]="filters.page===1">
                    <a class="page-link" (click)="changePage(filters.page-1)">Previous</a>
                  </li>
                  <li *ngFor="let p of totalPagesArray" class="page-item" [class.active]="p===filters.page">
                    <a class="page-link" (click)="changePage(p)">{{p}}</a>
                  </li>
                  <li class="page-item" [class.disabled]="filters.page===totalPages">
                    <a class="page-link" (click)="changePage(filters.page+1)">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div><!-- end listjs-table -->
      </div><!-- end card-body -->

    </div>
  </div>
  <ng-template #filterContent let-offcanvas>
    <div class="offcanvas-header bg-light">
      <h5 class="offcanvas-title">Filters</h5>
      <button type="button" class="btn-close text-reset" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>

    <div class="offcanvas-body">
      <!-- Search -->
      <div class="mb-3">
        <label class="form-label">Search</label>
        <input type="text" class="form-control" [(ngModel)]="filters.search" (input)="applyFilters()"
          placeholder="Search product..." />
      </div>

      <!-- Category -->
      <div class="mb-3">
        <label class="form-label">Categories</label>
        <ng-select [items]="categories" [multiple]="true" [(ngModel)]="filters.SelectedCategories"
          (change)="applyFilters()" placeholder="Select categories" [clearable]="true">
        </ng-select>
      </div>

      <!-- Page Size -->
      <div class="mb-3">
        <label class="form-label">Page Size</label>
        <select class="form-select" [(ngModel)]="filters.pageSize" (change)="applyFilters()">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
      </div>
    </div>

    <div class="offcanvas-footer border-top p-3 text-center hstack gap-2">
      <button type="button" class="btn btn-light w-100" (click)="resetFilters()">Clear</button>
      <button type="button" class="btn btn-success w-100" (click)="applyFilters(); offcanvas.close()">Apply</button>
    </div>
  </ng-template>